{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <!-- <link rel="stylesheet" href="../../static/style.css"> the approch won'nt work -->
    <link rel="stylesheet" href="{%static '../../static/style.css'%}">
</head>

<body>
    <h1>django by vaibhav kothari</h1>

    <!-- <a href="about.html"><button>About us </button></a>
    <a href="contact.html"><button>contact us </button></a> -->
</body>

</html>